@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/


.videosItem:hover {
    cursor: pointer;
    background-color: #4d4d4d;
    transition-duration: 0.2s;
}

.playlistCard {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.playlistCard:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transform: scale(1.05);
    cursor: pointer;
}


/* Arama çubuğu genel stil */
.search-bar {
    display: flex;
    max-width: 400px;
    border-radius: 8px; /* Genel yuvarlaklık */
    font-family: sans-serif;

    margin: 0 auto 20px;
}

/* Giriş alanı */
.search-bar input[type="text"] {
    flex: 1;
    padding: 6px 10px;
    outline: none; /* Focus durumunda mavi çerçeve olmaması için */
    font-size: 14px;
    color: #6b7280; /* Metin rengi */
    border: 1px solid #d7d4d4; /* Kenarlık rengi */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.search-bar input[type="text"]:focus {
    border: 1px solid #FCB900;
}

/* Buton */
.search-bar button {
    background-color: #FCB900; /* Buton arka plan rengi */
    border: none; /* Kenarlık olmaması için */
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* SVG ikon */
.search-bar .icon {
    fill: white; /* İkon rengi */
}

.categoriesList  li {
    transition: all .3s ease-out;
    font-size: 13px;
    font-weight: bold;
}

.categoriesList  li:hover .categoryLink {
    color: #000;
    /*background-color: #FCB900;*/
}


.contactInput:focus {
    background-color: #fff;
    border-color: #fcb900;
    color: #1D2939;
    box-shadow: 0 0 5px 0 rgba(252, 185, 0, .6);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    accent-color: #FCB900;
}

.contactSubmitBtn {
    width: auto;
    font-size: 14px;
    height: auto;
    line-height: normal;
    text-align: center;
    background: rgba(252, 185, 0, 1);
    border-width: 1px;
    border-color: #fcb900;
    border-style: solid;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    border-radius: 20px;
    text-shadow: none;
    padding: 12px 26px 12px 26px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #eee;
    margin: 10px 0;
    vertical-align: middle;
}
.contactSubmitBtn:hover {
    background: rgba(28, 3, 3, 1);
    border-color: rgba(30, 0, 0, 1);
    color: #fff;
}
.homePageGalleryItem{
    transition: all ease 0.5s;
}

.homePageGalleryItem:hover {
    transform: scale(1.7);
    z-index: 21;

}
.whereWeAreTitle {
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
    color: rgb(186, 197, 223);
    letter-spacing: 0px;
    line-height: 25px;
    white-space: nowrap;
    z-index: 13;
    transform: translate(0px, 0px);
}

.homeArticlesHeader{
    color: #000000;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    height: 12px !important;
}


.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}