@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.homePage {

  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-weight: 700;
}

.home_image_box {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.videos_container {
  display: flex;
  position: relative;
}

.navigation_container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background: rgb(9, 100, 55);
  background: linear-gradient(90deg, rgba(9, 100, 55, 1) 0%, rgba(4, 165, 80, 1) 100%);
}

.playlists_container {
  height: calc(100vh - 120px);
  top: calc(64px + 36px);
  margin-top: 20px;
}

.playlists_container {
  scrollbar-width: thin;
  /* Set width of scrollbar */
  scrollbar-color: #888 #f1f1f1;
  /* Set color of thumb and track */
}

.video_playlists::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Set color of thumb */
  border-radius: 5px;
  /* Round the corners of the thumb */

}

.video_playlists::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Set color of thumb on hover */

}

.video_playlists::-webkit-scrollbar-track {
  background-color: #c4c4c4;
  /* Set color of track */
  border-radius: 12px;

}

.video_playlists::-webkit-scrollbar {
  width: 10px;
  /* Adjust width of scrollbar */
}

.playlists_container::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Set color of thumb */
  border-radius: 5px;
  /* Round the corners of the thumb */

}

.playlists_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Set color of thumb on hover */

}

.playlists_container::-webkit-scrollbar-track {
  background-color: #c4c4c4;
  /* Set color of track */
  border-radius: 12px;

}

.playlists_container::-webkit-scrollbar {
  width: 10px;
  /* Adjust width of scrollbar */
}



.playlists_container li {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.video_component {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: all 0.3s ease-in-out;

  border: 1px solid;
  border-color: #f5f5f5;
}

.video_component:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  scale: 1.05;
}

.video_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.singleVideo {

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.custom-grid {
  display: flex;
  flex-direction: column;
}



@media screen and (min-width: 1024px) {
  .custom-grid {
    display: grid;
    grid-template-columns: 8fr 4fr;
  }

}


.video_playlists {
  height: calc(100vh - 225px);
  top: 64px;
  overflow-y: auto;

}

.video_playlists div {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.3s ease-in-out;
}

.video_playlists div:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  scale: 1.05;
}

.video_playlists div>p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.responsive_iframe {
  height: 350px;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .responsive_iframe {
    height: 450px;

  }


}

@media screen and (min-width: 1024px) {
  .responsive_iframe {
    height: 520px;
    width: 100%;
  }


}

.playlist_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}


@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.wave-squares {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(to right, #e4e4e4 0%, #f4f4f4 50%, #e4e4e4 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  position: relative;
}

.wave-lines {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(to right, #e4e4e4 0%, #f4f4f4 50%, #e4e4e4 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  position: relative;
}

.article_item {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.article_item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  scale: 1.05;
}

.article_item .article_text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}
.single_article_back_btn{
  position: absolute;
   right: 10px;
   top: 0;
   width: max-content;
}
@media screen and (min-width:900px) {
  .single_article_back_btn{
    left: 0;
     top: 50px;
  }
}

.logo_container {
  background-image: url("./../public/assets/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


/* .questions_container{
  display: grid;
  grid-template-columns: 3fr 7fr;
   height:  calc((100vh - 64px) - 50px);
 }
  */

@media screen and (max-width: 640px) {

  .admin_sidebar {
    transform: translateX(-100%);
  }


}

#hs-invalid-toggle-switch:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  transform: translateX(0);
  box-shadow: 0 0 0 1px #000;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
}

/* Sun icon for checked state */
#hs-invalid-toggle-switch:checked:before {
  background-color: #f6e05e;
  transform: translateX(100%);
  box-shadow: 0 0 0 1px #000;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
}

.article_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




/* Books */
.books_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  row-gap: 45px;
}



.book_item {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15px;
}

.book_image {
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

}

.book_image:hover {
  transform: scale(1.1);

}

@media screen and (min-width:550px) {
  .books_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:849px) {
  .books_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:1100px) {
  .books_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Questions */
.question_categories {
  max-width: 100%;
  margin: 30px auto 0;
  box-shadow: 1px 0 20px 0 rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: sticky;
  top: 100px;
}

.question_categories .categories_container {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

}



.question_categories .categories_container::-webkit-scrollbar {
  display: none;
}

.question_list_container {
  width: 100%;
  display: grid;

}

.question_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.image-3d-container {
  perspective: 1000px;
  /* Adjust the perspective value to your liking */
}

.image-3d {
  width: 350px;
  /* Adjust the width and height as per your image dimensions */
  height: 350px;
  /* Adjust the rotation angle for the desired 3D effect */
  transition: transform 0.5s ease;

}

.image-3d:hover {
  transform: rotateY(0deg);
  /* Adjust the rotation angle for the hover state */
}

.image-3d-container {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding-bottom: 180px;
}

.image-3d {
  transform: rotateY(0deg);
}

@media screen and (min-width: 850px) {
  .image-3d-container {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom:0;
  }

  .image-3d {
    transform: rotateY(-40deg);
    width: 400px;
    height: 400px;

  }
}


.contactDiv {
  border-radius: 10px;
  margin: 0 20px 20px 20px;
  padding: 30px 20px;

}

.secDiv>h1 {
  font-size: 35px;
  font-weight: bolder;
  color: rgb(44, 168, 44);
}

.secDiv>p {
  font-size: 18px;
  margin: 20px 0;
  color: #888888;
}

.about {
  margin: 40px 0 0 0;
}

.first {
  display: flex;
  margin: 40px 0;
}

.in {
  margin: 0 10px;
}

.in>p:first-child {
  font-size: 20px;
  font-weight: bold;
}

